.state-flex {
    display: flex;
  }
  .state-defualt {
    width: 70px;
    height: 50px;
    border: 1px solid #e3e8ee;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
  }
  .state-right {
    margin-left: auto;
  }
  .green {
    background: #42b983;
    color: #fff;
  }
  .state-time {
    width: 70%;
    text-align: center;
  }
  .state-time p {
    padding: 0;
  }
  .con-title {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
  }
  .el-dialog__header {
    border-bottom: 1px solid #e3e8ee;
  }
  .table {
    height: 100%;
  }
  .yaoqing {
    background: #42b983;
    color: #fff;
    border: none;
  }
  
  .p-input {
    line-height: 40px;
    display: flex;
  }
  .p-input input,
  .p-input div {
    width: 100px;
  }
  
  .yaoqing2 {
    background: #f1f1f1;
    border: none;
    color: #525252;
  }
  .list-number {
    list-style-type: decimal;
    margin-left: 20px;
  }
  .list-number li {
    padding-left: 10px;
  }
  .hedaer {
    padding: 10px;
    border: 1px solid #f5f5f5;
  }
  .select input,
  .res {
    border: none;
    color: #606266;
  }
  .res {
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
  }
  .table {
    width: 100%;
  }
  .yaoqing:focus,
  .yaoqing:hover {
    border: none;
    color: #fff;
    background-color: #42b983;
  }
  .yaoqing2:focus,
  .yaoqing2:hover {
    background: #f1f1f1;
    border: none;
    color: #525252;
  }
  .el-table__row:hover,
  .el-table__row:focus {
    background: none;
  }
  .el-input__inner::placeholder {
    color: #909399;
  }
  /* 谷歌 */
  .el-input__inner::-webkit-input-placeholder {
    color: #909399;
  }
  /* 火狐 */
  .el-input__inner:-moz-placeholder {
    color: #909399;
  }
  /*ie*/
  .el-input__inner:-ms-input-placeholder {
    color: #909399;
  }
  .add {
    font-size: 14px;
  }
  .el-icon-circle-plus-outline {
    color: #409eff;
  }
.zcy_list_user{
    font-size: 14px;
}
.zcy_list_username{
    font-size: 12px;
    padding-top: 3px;
    opacity: 0.8;
}
.con-title_auto{
    margin-right: auto;
}

.userac{
    /* background-color: #409eff; */
    color: #409eff;
    /* text-align: center; */
}


.zc_user_yq_ul{
  display: flex;
  flex-direction: column;
}

.zc_user_yq_ul_item{
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}
.zc_user_yq_ul_item.yaoqing_ul{
  display: flex;
  flex-direction: column;
}
.zc_user_yq_ul_item_title{
  padding-top: 5px;
  font-size: 14px;
  opacity: 0.8;
  padding-bottom: 5px;
}
.zc_user_yq_ul_item_yaoqing_ul_l{
  padding: 5px 0;
}
.zc_user_yq_ul_item.yaoqinga{
  align-items: center;
}
.zc_user_yq_ul_item_r{
  align-items: center;
}
.zc_user_yq_ul_item.anniu{
  align-items: center;
  padding: 15px 0;
  justify-content: center;
}
.zc_user_yq_ul_item.anniu button{
  width: 120px;
}
.sq_zc_css{
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}
.sq_zc_css p{
  padding: 5px 0;
}
.sq_zc_css input{
  margin: 5px 0;
}
.zc_user_yq_ul_item.sousou{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.zc_user_yq_ul_item_r.sousou_r{
  display: flex;
  flex-direction: row;
}
.zc_user_yq_ul_item_r.sousou_r button{
  margin-left: 5px;
}

.zc_user_yq_ul_item.ddinfo{
  display: flex;
  flex-direction: column;
}
.zc_user_yq_ul_item.ddinfo .zc_user_yq_ul_item_r{
  margin-left: 15px;
  padding: 5px 0;
}
.ddinfo_i{
  padding: 5px 0;
}